/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(35,201,255);
}

#badge {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.welcomeMessage {
    
}